.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postContainer {
  display: block;
  background: var(--on-background-color);
  border-radius: 10px;
}

.postContainer:hover {
  cursor: pointer;
  background: var(--layout-background-color);
  transition: background-color 0.3s;
}

.postContainer * {
  color: var(--text-color);
  text-decoration: none;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.post h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.postContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.actions > *:hover {
  cursor: pointer;
  color: var(--link-hover-color);
}

.infoContainer {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
