/* post page */

.postContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.postHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.postHeader p {
  font-size: 1.3rem;
  font-weight: bold;
}

.authorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.authorContainer p {
  font-size: .9rem;
  font-weight: normal;
}

.postContent {
  white-space: pre;
}

/* post form */

.postForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postForm textarea {
  resize: none;
  height: auto;
}
