/* post page */

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header p {
  font-size: 1.3rem;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.info p {
  font-size: .9rem;
  font-weight: normal;
}

.content {
  white-space: pre;
}

/* post form */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form textarea {
  resize: none;
  height: auto;
}
