/* post page */

.postContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.postHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.postHeader p {
  font-size: 1.3rem;
  font-weight: bold;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.infoContainer p {
  font-size: 0.9rem;
  font-weight: normal;
}

.postContent {
}

.timestamps {
  justify-self: flex-end;
  align-self: flex-end;
}

/* post form */

.postForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postForm textarea {
  resize: none;
  height: auto;
}
