:root {
  --text-color: #000;
  --background-color: #FFF;
  --layout-background-color: #EEE;
  --on-background-color: #DDD;
  --link-hover-color: cornflowerblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #FFF;
    --background-color: #1F1F1F;
    --layout-background-color: #252525;
    --on-background-color: #454545;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background: var(--background-color);
  color: var(--text-color);
}

body > div {
  padding: 20px;
}

input {
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  background: var(--on-background-color);
  color: var(--text-color);
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: var(--on-background-color);
  color: var(--text-color);
  cursor: pointer;
}
